@model netCoreApp.viewModels.HomeDetailViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.title</title>
</head>
<body>
  

    Name :@Model.Employee.Name
    Department: @Model.Employee.Department
</body>
</html>

