@model IEnumerable<Employee>
@{

    ViewBag.title = "index";
    
 }
    <div class="row">
        @foreach (var emp in Model)
        {
            var Photopath = "~/images" + (emp.PhotoPath ?? "default.jpg");
            <div class="col-3">


                
                <div class="card">
                    
                    <img src="@Photopath" class="card-img-top img-fluid" />
                
                    <div class="card-header">@emp.Name</div>
                    <div class="card-body">
                        Department : @emp.Department
                    </div>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id" class="card-link" >View</a>
                </div>

                
            </div>
        }
    </div> 