<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
